body {
    background-color: rgb(33, 37, 43);
    padding-top: 50px;
}

.circle {
    border-radius: 50%;
    height: 27vh;
    /* width: 100%; */
    margin-right: 10px;
}

@keyframes c1fade {
    0% {background-color: rgba(200, 40, 25, 1);}
    50% {background-color: rgba(200, 40, 25, 0);}
    100% {background-color: rgba(200, 40, 25, 1);}
}

#c1 {
    background-color: rgba(200, 40, 25, 1);
    animation-name: c1fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-delay: 1s; */
}

@keyframes c2fade {
    0% {background-color: rgba(20, 120, 70, 0);}
    50% {background-color: rgba(20, 120, 70, 1);}
    100% {background-color: rgba(20, 120, 70, 0);}
}

#c2 {
    background-color: rgba(20, 120, 70, 1);
    animation-name: c2fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-delay: 2s; */
}

/* 
#c2 {
    background-color: rgba(235, 100, 30, 1);
}

#c3 {
    background-color: rgba(240, 200, 65, 1);
}

#c4 {
    background-color: rgba(20, 120, 70, 1);
}

#c5 {
    background-color: rgba(20, 130, 210, 1);
}

#c6 {
    background-color: rgba(30, 60, 170, 1);
}

#c7 {
    background-color: rgba(127, 50, 116, 1);
} */